<!DOCTYPE html>

<html>
    <head>
        <title>Express Web Server: {{title}}</title>
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    
    <body>
        {{>header}}
        
        <p>{{helpText}}</p>

        {{>footer}}
    </body>
</html>

