<!DOCTYPE html>

<html>
    <head>
        <title>Express Web Server</title>
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    
    <body>
        {{>header}}
        
        <p> 아래에 도시/지역명을 입력하여 현재 날씨를 받아보세요! </p>

        <form>
            <input />
            <button>Search</button>
        </form>

        <p id="forecast" />
        {{>footer}}

        <script src="/static/js/app.js"></script>
    </body>
</html>

